<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class='text-center'>Find Image Matches</h1>
      <form method="POST" enctype="multipart/form-data">
        <div class='form-group'>
          <label>Image URL</label>
          <input name='image_url' type='text' class="form-control input-md">
 	  <input name='localfile' type='file'>
	</div>
        <button type='submit' class='btn btn-default'>Submit</button>
      </form>
    </div>

    {% if matches != None and matches %}
    <div class="container">
    <div class="row">
        {% for item in matches %}
		<ul class="thumbnails">
            <li class="col-md-4">
              <div class="thumbnail">
                <img src="{{ item['filename']}}" alt="ALT NAME" />
                <div class="caption">
                  <h3>{{ item['filename'] }} </h3>
                  <p>Username: {{ item['username'] }} </p>
                  <p>Distance: {{ item['distance'] }} </p>
                  <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                </div>
              </div>
            </li>
        </ul>
        {% endfor %}
	</div>
    </div>
    {% endif %}

  </body>
</html>

